.carouselCover {
    height: 70vh;
    button {
      outline: none !important;
      span::before,
      span::after {
        background-color: white;
      }
    }
    nav {
      z-index: 3;
      bottom: -30px;
      .awssld__bullets .awssld__bullets--active {
      background-color: white !important;
      }
    }
    
}
.imageCarousel {
    object-fit: contain;
  }
  @media (max-width: 600px) {
      .carouselCover{
          height: 30vh;
          nav {
              bottom: -20px;
          }
      }
     
  }