@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin container($width: 90%) {
  width: $width;
  margin: auto;
}

@import "global";
@import "header";

.toTopButton {
  position: fixed;
  bottom: 9%;
  right: 2rem;
  box-shadow: none;
  outline: none;
  border-radius: 50% 50%;
  height: 4rem;
  width: 4rem;
  min-width: unset;
  background-color: $backgroud-1;
  color: white;
  border: none;
  &:focus{
    outline: none;
    box-shadow: none;

  }
}

//------------------------Home---------------------------
.welcome {
  @include container(90%);
  color: $blue-text;
  .welcome__text,
  .welcome__products {
    @include flex(center, center, column);
    text-align: center;
    h2 {
      margin: 5rem 0;
    }
  }
  .welcome__products {
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
    .item {
      cursor: pointer;
      @include flex(center, center, column);
      width: 100%;
    }
  }
  .item {
    img {
      width: 100%;
    }
  }
  
}

//------------------------Footer---------------------------
.footer {
  margin-top: 10rem;
  background-color: $backgroud-2;
  color: white;
  .item {
    @include flex(center, center, row);
  }
  .footer__content {
    padding: 5rem 0;
    @include container();
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    i {
      margin-right: 1rem;
    }
  }
  .footer__name {
    grid-area: "name";
    @include flex(center, center, column);
  }
  .footer__logo {
    grid-area: "logo";
  }
  .footer__contact {
    grid-area: "contact";
  }
}

//media

@media (max-width: 600px) {
  //------------------------Home---------------------------
  .welcome {
    .welcome__products {
      .items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      }
      .item {
        cursor: pointer;
      }
    }
  }
  //------------------------Footer---------------------------
  .footer {
    .footer__content {
      gap: 10rem;
      align-items: center;
      text-align: center;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-template-areas:
        "logo"
        "contact"
        "name";
    }
  }
}

@media (min-width: 1440px) {
  .welcome {
    @include container(50%);
  }
}
