@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin container($width: 90%) {
  width: $width;
  margin: auto;
}

@import "global";
@import "header";

.bg-feature-1 {
  background-image: url("/bg_feature1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-feature-2 {
  background-image: url("/bg_feature2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-feature-3 {
  background-image: url("/bg_feature3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-feature-4 {
  background-image: url("/bg_feature4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 5rem 3rem;
  }
  /* BURGER THING */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.1rem 1rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header1);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(500%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-500%);
    background: white;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}
.container {
  width: 50%;
  margin: auto;
}

.bg-feature {
  height: 318px;
  grid-row: auto;
  grid-column: auto;
}
.gallery {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.welcome {
  @include container(50%);
  color: $blue-text;
  .welcome__text,
  .welcome__products {
    @include flex(center, center, column);
    text-align: center;
    h2 {
      margin: 5rem 0;
    }
  }
  .welcome__products {
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
.footer {
  background-color: $backgroud-2;
  color: white;
  .footer__content {
    @include container();
    @include flex(space-between, center, row);
  }
  .footer__name {
    @include flex(center, center, column)
  }
}
